h1{

    /* important Property has the priority , using this will*/
    color: red !important;
    text-align:center;
    /* rem -- root element size, 1re = 16px */
    font-size: 2rem;
}

/* type selector */

/* tag name 
    specified tag
    
    */

    /* univeral selector 
        >>> target all element
    */

/* univeral selector*/
    *{
        font-family: Georgia, serif;
        font-size: 20px;
        color: gray;
    }
    /* id selector */
    #zuitt-motto{
        letter-spacing: 5px;
    }


    /* Id selector have the highest priority for selector 
        Specificity rule
    */
    h3{
        letter-spacing: 25px;
    }

    /* class selector */
    .offering-items{
        text-transform: uppercase;
    }



    /* attribute selector */
    /* tagname [attribute] */

    input[Required]{
        border-width: 2px;
        border-style: solid;
        border-color: navy;
    }


    /* Combinator Selector  */
    /* adjecent Siblings Selector */
    /* selector + selector */
    h3 + img{
        /* for hight vertical dimmesion of an element */
        height: 300px;
        /* for width - changing horizotan dimmesion of an element */
        width: 300px;
        /* border -radius for changin the corner of an element from shapr to rounder cornery  */
        border-radius: 150px;
    }



    /* descendat selector */
    /* selector selector */
    #bootcamp-learning-list li{
        /* hex colorwq   */
        color: #075966;
    }


    /* general sibling selector */
/* all taf tag select */
    h2 ~ a {
        text-decoration: none;
    }



    /* child  selector */
    /* >> selectpr > selector */

    body > section > form > label {
        color: green;
    }


    /* more styling */

    body{
        background-color: skyblue    ;
    }

    html{
        scroll-behavior: smooth;
    }

    nav{
        background-color: white;
    }


    a:hover{
        background-color: #191e1f;
    }

    div {
        /* papantay sa sila lahat  */
        display: inline-block;
        /* mabilin si  Zuitt kay wla man siy sa div  */
        float: right;
    }


    /* landing secion  */

    section{
        /* viewport height */
        height: 100vh;
        text-align: center;
    }


    h2{
        font-size: 1.5rem;
    }

    ol {
        list-style-type: none ;
    }

    /* register sectio */
    form{
        text-align: center;
        background-color: white;
        border: 2px solid black;
        height: 225px;
        width: 25vw;
        /* back to what to normal position 
        mubalik siya sa  pinaka una  or defaault niya */
        position: relative;
        left: 37.25%;
    }

    button{
        background-color: #cf0053;
        color: white;
        border: 0;
        border-radius: 15px;
    }