*{
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#red{
    color: red;

}
#gree{
    color: green;
}

#pink{
    color: pink;
}
h1{
    font-size: 30px;
}

#header2{
    text-transform: uppercase;
}

.Language{
    background-color: green;
}

.tools{
    border: 1px solid navy;
}

 img + ul{
    list-style: lower-alpha;
 }


section img{
    border-radius:  355px;
}
/* 
section > h4 > img > ul > li {
    letter-spacing: 25px;
} */

section > ul > li {
    letter-spacing: 10px;
    list-style-type: none ;
}

ul ~ p {
    text-align: center;
  }
